/* black #0B0C10
grey 1F2833
white-grey #C5C6C7
blue #66FCF1
green #45A29E */


/* #DC493A- Cinnabar red
#E7F0FF- Alice blue
#E3EBFF- Lavender blue
#ECE8EF- magnolia grey
#4392F1- dodger blue */


/* body: font-family: 'Lato', sans-serif;
heading: font-family: 'Old Standard TT', serif; */


html, body{
    scroll-behavior: smooth;

    margin:0;
    padding:0;


}

/* set the font for everything */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
  }


  /* background image and font for body */
body {
    background-image: url("../images/moroccan-flower-dark.png");
    background-attachment: fixed;
    font-size: 1.25em;
    font-family: sans-serif;
}


/* set standard border radius for all images */
img {
    width: 100%;
    object-fit: contain;
    border-radius: 10%;
}








/* Navigation bar stuff */


.navigation-bar {
    /* width: 100%; */
    /* position: fixed; */
    /* top: 0; */
    /* background: #E3EBFF; */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: #E3EBFF;
    width: 100%;
    position: fixed;
    top: 0;
}

.logo {
    width: 9em;
}

.navigation-links {
    list-style: none;
}

.navigation-links li {
    display: inline-block;
    padding: 0 2em;
    
}

.navigation-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navigation-links li a:hover {
    color: #DC493A;
}

button {
    padding: 1em 2.5em;
    background-color: #DC493A;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #4392F1;
}










/* #title {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4392F1;

} */

.section-title {
    width: 100%;
    color: #DC493A;
    font-size: 40px;
    text-align: center;
}


.wrapper {
    background: #E7F0FF;
    display: flex;
    flex-flow: row wrap;
    /* align-items: center;
    justify-content: space-between; */
    margin: 3em 5em 0 5em ;
    border-radius: 25px;
    /* justify-content: space-around; */
}




/* Home section stuff */

#home{
    margin-top: 5em;
}

#home-wrapper{
    background: #E7F0FF;
    display: flex;
    flex-flow: row-wrap;
    margin: 3em 5em 0 5em ;
    border-radius: 25px;
}

#home-text{
    display: flex;
    flex-flow: column;
}



#profile-picture {
    padding-top: 0.5em;
    padding-left: 0.5em;
    width: 30%;
    /* float: left; */
}



#welcome-hello {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 3vw;
    color: #DC493A;
    text-align: left;
}

#welcome-hello-message {
    margin: 10% 0 0 20%;
    font-size: 2vw;
    color: #4392F1;
    text-align: left;
}



#about-paragraph {
    width: 40%;
    border-radius: 5px;
    color: #000000;
    margin: 75px 50px 75px 50px;
}


#about-info {   
    margin: 0px 0px 30px 125px;
    background-color: #ECE8EF;
    /* opacity: 0.8; */
    border-radius: 25px;
    padding: 10px 30px 10px 15px;
    color: #0B0C10;
}



ul.experience-list {
    width: 60%;
    margin-left: 20%;
    padding-left: 15px;
    position: relative;
}

ul.experience-list li{
    padding-left: 33px;
    list-style: none;
    position: relative;
    padding-bottom: 2.5em;
}

.company {
    color: #45a26c;
    display: inline;
    margin-right: 1.2em;
}

.job-title {
    color: black;
    display: inline-block;
    padding: 0 12px;
    margin: -5px 0.5em 0 0;
    background-color: #000000;
    color: #E7F0FF;
    border-radius: 5px;
}

.job-description {
    display: block;
    width: 70%;
    margin: 1.2em 0 1em 0;
    border-radius: 5px;
    color: #000000;
}

.time-period {
    float: right;
    color: #4392F1;
}


ul.experience-list li:after {
  /* bullets */
  content: url("../images/2021_06_26_0x0_Kleki.png");
  position: absolute;
  left: -34px;
  /*adjust manually*/
  top: 0px;
}

ul.experience-list li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -16px;
  /* adjust manually blue #66FCF1
  green #45A29E*/
  border-left: 2px solid #000000;
  height: 100%;
  width: 1px;
}

ul.experience-list li:first-child:before {
  /* first li's line */
  top: 6px;
  /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experience-list li:last-child:before {
  /* last li's line */
  height: 6px;
  /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

#projects-overview {
    background: #C5C6C7;
    border-radius: 5px;
    width: 100%;
    margin: 0 15% 5% 15%;
    text-align: center;
}

#projects-wrapper {
    width: 80%;
    /* text-align: justify; */
    display: flex;
    justify-content: center;
    margin: auto;

}

.project-container {

    max-width: 300px;
    padding: 0 20px 20px 20px;
    border-radius: 25px;
    background: #4392F1;
    display: inline-block;
    text-align: center;
    /* padding: 25px; */
    margin: 20px;

}


.project-name a {
    text-decoration: none;
    color: #E3EBFF;
}

.project-name a :hover {
    text-decoration: none;
    color: #DC493A;
}

#contact-message {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 10% 25px 10% ;
}


#wrapper-contact {
    background: #1F2833;
    display: flex;
    margin: 100px 100px 250px 100px;
    border-radius: 25px;
    flex-flow: row wrap;
    justify-content: center;

}

.contact-icon {
    display: flex;
    width: 100px;
    margin: auto;
    position: relative;

}
