/* black #0B0C10
grey 1F2833
white-grey #C5C6C7
blue #66FCF1
green #45A29E */



/* #DC493A- Cinnabar red
#E7F0FF- Alice blue
#E3EBFF- Lavender blue
#ECE8EF- magnolia grey
#4392F1- dodger blue */


/* body: font-family: 'Lato', sans-serif;
heading: font-family: 'Old Standard TT', serif; */


html, body{
    scroll-behavior: smooth;

    margin: 0;
    height:100%;
    width:100%;
    padding:0;



}

/* set the font for everything */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
  }


  /* background image and font for body */
body {
    background-image: url("../images/moroccan-flower-dark.png");
    background-attachment: fixed;
    font-size: 1.25rem;
    font-family: sans-serif;
}


/* set standard border radius for all images */
img {
    width: 100%;
    object-fit: contain;
    border-radius: 10%;
}








/* Navigation bar stuff */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: #E3EBFF;
    width: 100%;
    position: fixed;
    top: 0;
}

.logo {
    width: 9em;
}

.navigation-links {
    list-style: none;
}

.navigation-links li {
    display: inline-block;
    padding: 0.2em;    
}

.navigation-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navigation-links li a:hover {
    color: #DC493A;
}

button {
    /* padding: 1em 2.5em; */
    background-color: #DC493A;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.25rem;
}

button:hover {
    background-color: #4392F1;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}



@media only screen and (max-width: 768px) {
    .navigation-links {
        position: fixed;
        left: -100%;
        top: 5rem;
        display: flex;
        flex-direction: column;
        background-color: #4392F1;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navigation-links.active {
        left: 0;
    }

    .navigation-links li a {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}







/* General classes */

.section-title {
    width: 100%;
    color: #DC493A;
    font-size: 3rem;
    text-align: center;
}


.wrapper {
    background: #E7F0FF;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 3em 5em 0 5em ;
    border-radius: 2.5em;
    justify-content: space-around;
}




/* Home section stuff */
#home{
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url(../images/photo-beach.JPG);
    height: 100%; 
    width: 100%;
    background-position: center left ;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-home {
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 3em 5em 0 5em ;
    border-radius: 2.5em;
    justify-content: space-around;
}



#home-text{
    display: flex;
    flex-flow: column;
}

#welcome-hello {
    margin-top: 20%;
    margin-left: 10%;
    font-size: 5rem;
    color: #ECE8EF;
    text-align: left;
}

#welcome-hello-message {
    margin: 10% 0 0 20%;
    font-size: 3.5rem;
    color: #4392F1;
    text-align: left;
}


@media only screen and (max-width: 768px) {
    #welcome-hello-message {
        /* margin: 10% 0 0 20%; */
        font-size: 3.5vh;
        color: #4392F1;
        text-align: left;
    }
}



/* About section */

#about-paragraph {
    width: 40%;
    border-radius: 2em;
    color: #000000;
    /* margin: 75px 50px 75px 50px; */
    
    padding: 2% 1%;
    background-color: #DC493A;
    text-align: center;
    /* float: left; */
}

@media only screen and (max-width: 768px) {
    #about-paragraph {
        /* width: 90%; */
        width: max-content;
        border-radius: 2em;
        color: #000000;
        margin-bottom: 2em;
        margin: 1em 1em;
        padding: 2% 1%;
        background-color: #DC493A;
        text-align: center;
        /* float: left; */
    }
}

#about-info {   
    /* margin: 0px 0px 30px 125px; */
    background-color: #ECE8EF;
    /* opacity: 0.8; */
    border-radius: 2em;
    padding: 0.5em 1.5em;
    margin: 1em 1em;
    color: #0B0C10;
}



ul.experience-list {
    max-width: 200em;
}



ul.experience-list li{
    padding-left: 33px;
    list-style: none;
    position: relative;
    padding-bottom: 2.5em;
}

.company {
    color: #45a26c;
    display: inline;
    margin-right: 1.2em;
}

.job-title {
    color: black;
    display: inline-block;
    padding: 0 12px;
    margin: -5px 0.5em 0 0;
    background-color: #000000;
    color: #E7F0FF;
    border-radius: 5px;
}

.job-description {
    display: block;
    width: 70%;
    margin: 1.2em 0 1em 0;
    border-radius: 5px;
    color: #000000;
}

.time-period {
    float: right;
    color: #4392F1;
}


ul.experience-list li:after {
  /* bullets */
  content: url("../images/2021_06_26_0x0_Kleki.png");
  position: absolute;
  left: -34px;
  /*adjust manually*/
  top: 0px;
}

ul.experience-list li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -16px;
  /* adjust manually blue #66FCF1
  green #45A29E*/
  border-left: 2px solid #000000;
  height: 100%;
  width: 1px;
}

ul.experience-list li:first-child:before {
  /* first li's line */
  top: 6px;
  /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experience-list li:last-child:before {
  /* last li's line */
  height: 6px;
  /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}






/* PROJECTS SECTION */

#projects-overview {
    background: #C5C6C7;
    border-radius: 5px;
    width: 100%;
    margin: 0 15% 5% 15%;
    text-align: center;
}

#projects-wrapper {
    /* width: 80%; */
    /* text-align: justify; */
    display: flex;
    /* grid-row: 1 / span 2; */
    justify-content: space-between;
    margin: auto;
    flex-direction: row;

}

@media only screen and (max-width: 900px) {
    #projects-wrapper {

        flex-direction: column;
    
    }
}


.project-container {

    max-width: 50em;
    padding: 0 20px 20px 20px;
    border-radius: 25px;
    background: #4392F1;
    display: inline-block;
    text-align: center;
    /* padding: 25px; */
    margin: 20px;

}


.project-name a {
    text-decoration: none;
    color: #E3EBFF;
}

.project-name a :hover {
    text-decoration: none;
    color: #DC493A;
}

#contact-message {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 10% 25px 10% ;
}


#wrapper-contact {
    background: #1F2833;
    display: flex;
    margin: 100px 100px 250px 100px;
    border-radius: 25px;
    flex-flow: row wrap;
    justify-content: center;

}

.contact-icon {
    display: flex;
    width: 100px;
    margin: auto;
    position: relative;

}
